<tr class="border-top <%= @crash.fixed ? 'grey' : '' %>">
	<td><strong><%= @crash.id %></strong></td>
	<td>
		<strong>
			<a href="<%= url("/crash/#{@crash.id}") %>">
				<%= @crash.user_crash_date.strftime("%d.%m.%Y %H:%M:%S") rescue "" %>
			</a>
		</strong>
	</td>
	<td><%= @crash.package_name %></td>
	<td><%= @crash.app_version_name %> (<%= @crash.app_version_code %>)</td>
	<td><%= @crash.android_version %></td>
</tr>
<tr class="<%= @crash.fixed ? 'grey' : '' %>">
	<td>&nbsp;</td>
	<td><%= @crash.user_comment %></td>
	<td><%= @crash.total_mem_size %></td>
	<td><%= @crash.available_mem_size %></td>
	<td><%= @crash.thread_details %></td>
</tr>
<tr class="thin-border-top <%= @crash.fixed ? 'grey' : '' %>">
	<td>&nbsp;</td>
	<td colspan="4">
		<%= @crash.short_stacktrace.gsub("\t", "    ").gsub(" ", "&nbsp;").gsub("\n", "<br />\n") %>
	</td>
</tr>
